li, p {
    line-height: 28px;
}

ol, ul {
    padding-left: 30px;
}

.hidden {
    display: none;
}

#lesson-info a {
    color: #239126;
}

#lesson-info a:hover {
    color: #1a6d1d;
}

.underline {
    color: #9e349e;
}

.underline:hover {
    text-decoration: underline;
}

.pink a {
    color: #f55145;
}

.pink a:hover {
    color: #e43124;
}

#which-lesson, #course-links-header {
    text-align: center;
}

@media (max-width: 480px) {
    ol, ul {
        padding-left: 22px;
    }
}

@media (max-width: 350px) {
    ol, ul {
        padding-left: 20px;
    }

}
