li, p {
    line-height: 28px;
}

ol, ul {
    padding-left: 30px;
}

#lesson-info a {
    color: #f55145;
}

#lesson-info a:hover {
    color: #fa9332;
}

.container-color3 a {
    color: #187187;
}

.container-color3 a:hover {
    color: #1f9bab;
}

#refresh-lesson-info-btn {
    display: block;
    width: 160px;
    height: 45px;
    margin: 15px auto 0 auto;
    background-color: #75bf7b;
    border: 0;
    border-radius: 10px;
    color: #fff;
}

#refresh-lesson-info-btn:active {
    background-color: #519157;
}

#which-lesson, #classroom-codes {
    text-align: center;
}

@media (max-width: 480px) {
    ol, ul {
        padding-left: 22px;
    }
}

@media (max-width: 350px) {
    #refresh-lesson-info-btn {
        font-size: 10px;
        width: 130px;
        height: 35px;
    }

    ol, ul {
        padding-left: 20px;
    }
}
