li, p {
    line-height: 28px;
}

ol, ul {
    padding-left: 30px;
}

#lesson-info a {
    color: #f55145;
}

#lesson-info a:hover {
    color: #fa9332;
}

.container-color3 a {
    color: #187187;
}

.container-color3 a:hover {
    color: #1f9bab;
}

#which-lesson, #classroom-codes-header {
    text-align: center;
}

@media (max-width: 480px) {
    ol, ul {
        padding-left: 22px;
    }
}

@media (max-width: 350px) {
    ol, ul {
        padding-left: 20px;
    }
}
